{% extends 'basic.html' %}
{% load static %}

{% block content %}
 
<!-- start page -->
	<section class="page">
		<div class="wrapper">
			<div class="section-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<div class="section-ico"><img src="{% static 'img/section/section-ico-1.svg' %}" alt=""></div>
				<span class="section-subtitle">Версия № 1 от: «14» сентября 2020 г.</span>
				<h2 class="section-title">Инструкция по работе с подготовленными документами ООО «Медиасофт»</h2>
			</div>
			<div class="page-info" data-aos="fade-in" data-aos-duration="500" data-aos-once="true">
				<p>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
				<p>ОПИСАНИЕ:</p>
				<p>Согласие на обработку персональных данных позволяет собирать данные пользователей согласно требованиям законодательства о персональных данных.</p>
				<p>ПОШАГОВАЯ ИНСТРУКЦИЯ:</p>
				<p>1. Скачайте документ в удобном для вас формате;</p>
				<p>2. Ознакомьтесь с текстом документа;</p>
				<p>3. Разместите текст Информированного согласия под каждую форму сбора персональных данных в качестве гиперссылки. Убедитесь, что под каждой формой пользователь должен установить «флажок» перед отправкой персональных данных.</p>
				<p>ПОЛЕЗНЫЕ СОВЕТЫ:</p>
				<p>1. Документ может быть доступен как сверстанный текст, так и отсканированная копия.</p>
				<p>2. Подписывать документ не обязательно, достаточно разместить на сайте.</p>
				<p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
				<p>ОПИСАНИЕ:</p>
				<p>Политика конфиденциальности определяет политику оператора в отношении обработки персональных данных. В подготовленном документе учтены рекомендации Роскомнадзора по составлению политики обработки персональных данных, размещенные по адресу: <a href="https://rkn.gov.ru/personal-data/p908/" target="_blank">https://rkn.gov.ru/personal-data/p908/</a>.</p>
				<p>ПОШАГОВАЯ ИНСТРУКЦИЯ:</p>
				<p>1. Скачайте документ в удобном для вас формате;</p>
				<p>2. Ознакомьтесь с текстом документа;</p>
				<p>3. Разместите Политику конфиденциальности в «подвале» вашего сайта для доступа пользователей с любой страницы сайта.</p>
				<p>ПОЛЕЗНЫЕ СОВЕТЫ:</p>
				<p>1. Документы могут быть доступны как сверстанный текст, так и отсканированная копия.</p>
				<p>2. Подписывать документ не обязательно, достаточно разместить на сайте.</p>
				<p>3. Политика может быть доступна по соответствующей гиперссылке, размещенной на главной странице вашего сайта и иных интернет-страницах. Такая гиперссылка должна быть заметной и очевидной с точки зрения содержимого документа, к которому она отсылает.</p>
				<p>ПОЛИТИКА РЕКЛАМНОЙ РАССЫЛКИ</p>
				<p>ОПИСАНИЕ:</p>
				<p>Политика рекламной рассылки определяет политику владельца сайта в отношении осуществляемой им рассылки информации рекламного характера. Распространение рекламы посредством использования сети Интернет или телефонной связи должно осуществляться при условии предварительного согласия адресата.</p>
				<p>ПОШАГОВАЯ ИНСТРУКЦИЯ:</p>
				<p>1. Скачайте документ в удобном для вас формате;</p>
				<p>2. Ознакомьтесь с текстом документа;</p>
				<p>3. Разместите Политику рекламной рассылки в «подвале» сайта для доступа с любой страницы сайта</p>
				<p>4. Если на сайте имеется форма подписки, дополнительно разместите гиперссылку на Политику рекламной рассылки и установите «флажок» для возможности пользователя ознакомиться с осуществляемой политикой в отношении рассылки</p>
				<p>ПОЛЕЗНЫЕ СОВЕТЫ:</p>
				<p>1. Документы могут быть доступны как сверстанный текст, так и отсканированная копия.</p>
				<p>2. Подписывать документ не обязательно, достаточно разместить на сайте.</p>
				<p>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</p>
				<p>ОПИСАНИЕ:</p>
				<p>Пользовательское соглашение устанавливает взаимоотношения между владельцем сайта и пользователями по поводу использования сайта. Подготовленное Пользовательское соглашение является предложением заключить договор (публичная оферта) с пользователями на условиях, позволяющих ограничить ответственность владельца сайта, установить правила поведения пользователей и т.д.</p>
				<p>ПОШАГОВАЯ ИНСТРУКЦИЯ:</p>
				<p>1. Скачайте документ в удобном для вас формате;</p>
				<p>2. Ознакомьтесь с текстом документа;</p>
				<p>3. Разместите Пользовательское соглашение в «подвале» сайта для доступа с любой страницы сайта;</p>
				<p>4. Если на сайте имеется личный кабинет, дополнительно разместите гиперссылку на Пользовательское соглашение и установите «флажок» для возможности пользователя принять условия вашего Пользовательского соглашения.</p>
				<p>ПОЛЕЗНЫЕ СОВЕТЫ:</p>
				<p>1. Документы могут быть доступны как сверстанный текст, так и отсканированная копия.</p>
				<p>2. Подписывать документ не обязательно, достаточно разместить на сайте.</p>
			</div>
		</div>
	</section>
	<!-- end page -->
	<!-- start contacts -->
	{% include '_contacts.html' %}
	<!-- end contacts -->
{% endblock %}




